# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-ssr/
*.local

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System & OS Files
.DS_Store
Thumbs.db
Desktop.ini

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvsopt
*.njsproj

# Temporary files & cache
.cache/
.temp/
coverage/
